# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [12]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [13]:
crime=pd.read_csv('C:/Users/GH-16/OneDrive/Documents/GitHub/pandas_exercises/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv')
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. What is the type of the columns?

In [14]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [19]:
datetime= lambda x:np.datetime64(str(x),'Y')
crime['Year']=crime['Year'].apply(datetime)
print(crime['Year'])

0    1960-01-01
1    1961-01-01
2    1962-01-01
3    1963-01-01
4    1964-01-01
5    1965-01-01
6    1966-01-01
7    1967-01-01
8    1968-01-01
9    1969-01-01
10   1970-01-01
11   1971-01-01
12   1972-01-01
13   1973-01-01
14   1974-01-01
15   1975-01-01
16   1976-01-01
17   1977-01-01
18   1978-01-01
19   1979-01-01
20   1980-01-01
21   1981-01-01
22   1982-01-01
23   1983-01-01
24   1984-01-01
25   1985-01-01
26   1986-01-01
27   1987-01-01
28   1988-01-01
29   1989-01-01
30   1990-01-01
31   1991-01-01
32   1992-01-01
33   1993-01-01
34   1994-01-01
35   1995-01-01
36   1996-01-01
37   1997-01-01
38   1998-01-01
39   1999-01-01
40   2000-01-01
41   2001-01-01
42   2002-01-01
43   2003-01-01
44   2004-01-01
45   2005-01-01
46   2006-01-01
47   2007-01-01
48   2008-01-01
49   2009-01-01
50   2010-01-01
51   2011-01-01
52   2012-01-01
53   2013-01-01
54   2014-01-01
Name: Year, dtype: datetime64[ns]

### Step 6. Set the Year column as the index of the dataframe

In [21]:
crime.set_index('Year',inplace=True)

### Step 7. Delete the Total column

In [24]:
crime.drop(columns='Total',inplace=True)

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [31]:
crime[crime.columns.difference(['Population'])].groupby((crime.index.year//10)*10).sum()

,Aggravated_assault,Burglary,Forcible_Rape,Larceny_Theft,Murder,Property,Robbery,Vehicle_Theft,Violent
Year,,,,,,,,,
1960,2158520,13321100,236720,26547700,106180,45160900,1633510,5292100,4134930
1970,4702120,28486000,554570,53157800,192230,91383800,4159020,9739900,9607930
1980,7619130,33073494,865639,72040253,206439,117048900,5383109,11935411,14074328
1990,10568963,26750015,998827,77679366,211664,119053499,5748930,14624418,17527048
2000,8652124,21565176,922499,67970291,163068,100944369,4230366,11412834,13968056
2010,3764142,10125170,421059,30401698,72867,44095950,1749809,3569080,6072017

### Step 9. What is the mos dangerous decade to live in the US?

In [34]:
crime[crime['Murder']==crime['Murder'].max()].index.year.format()

['1991']