# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url='C:/Users/GH-16/OneDrive/Documents/GitHub/pandas_exercises/01_Getting_&_Knowing_Your_Data/Chipotle/chipotle.tsv'
chipo=pd.read_csv(url, sep='\t')

### Step 4. How many products cost more than $10.00?

In [24]:
chipo['item_price_num']=chipo['item_price'].apply(lambda x:float(x[1:-1]))
chipo[chipo['item_price_num']>10.00].quantity.sum()

1314

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [34]:
chipo[['item_name','item_price']].drop_duplicates().head()

                               item_name item_price
0           Chips and Fresh Tomato Salsa     $2.39
1                                   Izze     $3.39
2                       Nantucket Nectar     $3.39
3  Chips and Tomatillo-Green Chili Salsa     $2.39
4                           Chicken Bowl    $16.98

### Step 6. Sort by the name of the item

In [28]:
chipo.sort_values('item_name').head()

,order_id,quantity,item_name,choice_description,item_price,item_price_num
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [27]:
chipo[chipo['item_price_num']==chipo['item_price_num'].max()].quantity.sum()

15

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [37]:
chipo[chipo['item_name']=='Veggie Salad Bowl'].order_id.nunique()

18

### Step 9. How many times people orderd more than one Canned Soda?

In [39]:
chipo[(chipo['item_name']=='Canned Soda') & (chipo['quantity']>1)].order_id.count()

20